[submodule "talks/amssf_markov"]
	path = talks/amssf_markov
	url = https://github.com/hchapman/diagram_mcmc_talk
	branch = ams_sf_2018
[submodule "talks/altknots"]
	path = talks/altknots
	url = https://github.com/hchapman/altknots_talk
 
[submodule "talks/birs_steadystate"]
	path = talks/birs_steadystate
	url = https://github.com/hchapman/diagram_mcmc_talk.git
[submodule "talks/academic_web"]
	path = talks/academic_web
	url = ../academic_web_talk
