<div class='container'>
  <div class='row align-items-center justify-content-around' id="name-header">
    <!-- Start header -->
    <div class="col-md-6 text-center text-md-left">
      <h1 class="nameheader"><a href="/">Harrison Chapman</a></h1>
    </div>
    <div class="col-md-6 text-center text-md-right d-none d-sm-block">
      <h3>
        Department of Mathematics
      </h3>
      <h4>Colorado State University</h4>
    </div>
    <!-- End header -->

  </div>

  <header class="sticky-top d-print-none" id="nav-header">
    <nav class="navbar navbar-dark bg-dark flex-row">
      <div class="nav-scroll">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link {% if page.about %}active{% endif %}" href="/">About</a>
          </li>
          <li class="nav-item subnav-expander">
            <a class="nav-link collapsed {% if page.url contains '/classes/' %}active{% endif %}"
               id="nav-teaching"
               data-toggle="collapse" data-target="#teaching-nav" aria-controls="teaching-nav" aria-expanded="false" aria-label="Toggle Class List"
               href="/classes">Teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.research %}active{% endif %}" href="/research">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.projects %}active{% endif %}" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.wwconvert %}active{% endif %}" href="/wwconvert">Athena &rarr; Webwork</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="subnav-container collapse" id="teaching-nav">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-column flex-md-row">
        <ul class="navbar-nav text-center text-md-left">
          <li class="nav-item">
            <a class="nav-link" href="/classes/">Teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.class == 's2018-369' %} active{% endif %}" href="/classes/s2018-369/">Linear Algebra I</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
