<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} &bull; Harrison Chapman</title>
    <link rel="icon" type="image/png" href="/res/img/favico.png">
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/site.css" />
    <link rel="stylesheet" href="/res/css/syntax.css" />
    <script src="https://www.google.com/jsapi?key=ABQIAAAAbEpSkJUwwrMm9Q8-Kw6O7BSYsJ9DuGhn0e21mbaKlwAfM4CNERQztA85cMk6lZh2Wk7vy5rCZFavDQ" type="text/javascript"></script>
    <!-- Google Analytics -->
    <script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-88406784-1', 'auto');

     ga('require', 'eventTracker');

     ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script async src="/res/js/autotrack.js"></script>
    <!-- End Google Analytics -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          Macros: {
            RR: "{\\mathbb R}"
          }
        }
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/res/js/popper.min.js"></script>
    <script type="text/javascript" src="/res/js/bootstrap.min.js"></script>
  </head>
