<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <style type="text/css">
     body {
       background-color: #eee;
     }

     img {
       max-width: 100%;
     }

     div.tabs div.container {
       padding: 0 20px;
       margin-bottom: -1px;
       border-bottom: 1px solid #eee;
     }

     div.tabs {
     }

     ul.nav-primary {
       padding-left: 3px;
       border-color: #eee;
     }
     div.container {
       margin-top: 10px;
       margin-bottom: 10px;
       background-color: #fff;
       padding: 20px;
       border: 1px solid #ddd;
     }
    </style>
    <script src="https://www.google.com/jsapi?key=ABQIAAAAbEpSkJUwwrMm9Q8-Kw6O7BSYsJ9DuGhn0e21mbaKlwAfM4CNERQztA85cMk6lZh2Wk7vy5rCZFavDQ" type="text/javascript"></script>
    <script type='text/javascript'>
     google.load("jquery", "1.6.4");
     google.load("jqueryui", "1.8.16");
    </script>
  </head>
