<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#868e96">
    <title>{{ page.title }} &bull; Harrison Chapman</title>
    <link rel="icon" type="image/png" href="/res/img/favico.png">
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/site.css" />
    <link rel="stylesheet" href="/res/css/syntax.css" />
    <!-- Google Analytics -->
    <script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-88406784-1', 'auto');

     ga('require', 'eventTracker');

     ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script async src="/res/js/autotrack.js"></script>
    <!-- End Google Analytics -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          Macros: {
            RR: "{\\mathbb R}"
          }
        }
      });
    </script>
    <script type="text/javascript" src="/res/js/jquery-3.2.1.min.js"></script>
    <script async type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script type="text/javascript" src="/res/js/popper.min.js"></script>
    <script type="text/javascript" src="/res/js/bootstrap.min.js"></script>
  </head>
