.path-data.wang-landau {
    stroke: steelblue;
}
.swatch.wang-landau, .area.wang-landau {
    fill: steelblue;
}

.path-data.mean-fit {
    stroke: orange;
    stroke-dasharray: 4 3;
}
.swatch.mean-fit, .area.mean-fit {
    fill:orange;
}

.path-data.uniform {
    stroke: orange;
}
.swatch.uniform, .area.uniform {
    fill: orange;
}

.path-data.allmaps {
    stroke: green;
}
.swatch.allmaps, .area.allmaps {
    fill: green;
}
