x-block, x-theorem, x-definition, x-corollary, x-lemma {
    > h2 {
        margin-bottom: 0px !important;
        text-align: left;
        font-size: 1.2em !important;
    }

    display: inline-block;
    width: 85%;
    text-align: left;
    margin: 20px 0;
    padding: 0.5em;
    background: rgba(130, 130, 130, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

x-theorem > h2 {
    &:before {
        content: "Theorem (";
    }
    &:after {
        content: ")";
    }
}

x-definition > h2 {
    &:before {
        content: "Definition";
    }
    &:after {
        content: "";
    }
}
