---
---

@import "bootstrap_custom";
@import "bootstrap";
//@import "bootstrap-grid";

@each $color, $value in $theme-colors {
    @include bg-variant('.bg-light-#{$color}', theme-color-level($color, -10));
}

.nameheader {
    font-family: "Brawler", Georgia, Times, serif;
}

.primary-content h2, .primary-content h3, .primary-content h4, .primary-content h5 {
    font-family: "Brawler", Georgia, Times, serif;
}

.disclaimer,.copyright {
    color: #aaa;
    font-size: 80%;
    margin: 0px;
}

h2 + div.blog-whowhen {
    color: #aaa;
    font-size: 80%;
    margin-top: -5px;
    margin-bottom: 5px;
}

// Nav Sidebar
// @author: Harrison Chapman
// ---------------------------
.nav-sidebar {
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #f7f5fa;
    border-radius: 5px;
}

.navbar-nav-default {
    @extend .navbar-nav;
}

.navbar-expand-sm .navbar-nav-default .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.nav-sidebar > li > a.nav-header, .nav-sidebar > li > a.nav-header:hover, .nav-sidebar > li > a.nav-header:focus {
    color: $headings-color;
    background-color: #f7f5fa;
}

.nav-sidebar > li {
    margin-top: 1em;
}

.nav-sidebar > li > a.nav-header {
    padding-left: 1em;
}

.nav-sidebar .nav > li > a {
    padding-left: 1em;
    padding-top: 3px;
    font-size: 90%;
}

.nav-sidebar a.nav-link.active {
    font-weight: bold;
}

.center {
    text-align: center;
}

body {
    background-color: #eee;
}

img {
    max-width: 100%;
}

div.tabs div.container {
    padding: 0 20px;
    margin-bottom: -1px;
    border-bottom: 1px solid #eee;
}

div.tabs {
}

$outer-container-lrpad: 1.5em;
$outer-container-tbpad: 1em;

nav {
    margin-left: -$outer-container-lrpad;
    margin-right: -$outer-container-lrpad;
    margin-bottom: 1em;
}

ul.nav-primary {
    padding-left: 3px;
    border-color: #eee;
}
div.container {
    @include media-breakpoint-up(sm) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    background-color: #fff;
    padding: $outer-container-tbpad $outer-container-lrpad;
}

.collapse-toggle::after {
    content: " Hide"
}

.collapse-toggle.collapsed::after {
    content: " Show"
}

.homework ol ol {
    list-style-type: lower-alpha;
    padding-left: 1.5rem;
}

.homework ol li {
    padding-left: .5rem
}
